.THIS{
    font-family: futura;
}

.THIS.TableDiv{
    border-bottom: 2px solid #474C55;
    border-left: 2px solid #474C55;
    border-right: 2px solid #474C55;
    border-top: 10px solid #474C55; 
    border-radius: 5px;
    display: grid;
    background-color: white;
    width: auto;
}

.THIS .header{
    color: #474C55;
    font-size: 150%;
    text-align: center;
    border-bottom: 2px solid #474C55;
    font-family: HeaderFutura;
}