.THIS.hideModal {
   display: none;
}

.THIS .slds-button_neutral {
   
   background-color: #F26925;
   color: white;
   font-size: 1rem;
   width: 100px;
}

.THIS .slds-modal__footer {
   
   background-color: white;
}


.THIS .slds-button_neutral:hover {
   
   background-color: #72A4C2;
   
}
/*
.THIS .slds-select,.THIS .slds-input{
   
   color: #474C55;
   font-size: 1rem;
}
*/
.THIS .slds-modal__header {
   background: white;
   color: #F26925;
   font-size: 2rem;
}
/*
.THIS .slds-form-element__label{
   
   padding: .25rem .5rem;
   border-radius: 15rem;
   font-size: 1rem;
   font-weight: 700;
   line-height: normal;
   color: white;
   white-space: nowrap;
   margin-bottom: .5rem;
   margin-top: .5rem;
   background-color: #474c55;
   width: 80px;
}*/